{% block content %}

{% load static %}
<img src="{% static 'images/wave2.png' %}" class="footer-img" />
      <div class="container">
        <div class="row">
          <div class="col-md-6 footer-box">
            <img src="{% static 'images/AD-logo.png' %}"/>
            <p>
              Our team's main aim is to provide responsive and effective way to
              the users for booking a classified slot for various advertisments
              of their products,brands, various skim advertisment and provide
              those data to be printed in the weekly newspaper.
            </p>
          </div>
          <div class="col-md-6 footer-box">
            <p><b>CONTACT US</b></p>
            <p><i class="bi bi-geo-alt"></i> <b>Bazaar Group, Ahmedabad</b></p>
            <p><i class="bi bi-telephone"></i> <b>+91 8xxx7 07909</b></p>
            <p>
              <i class="bi bi-envelope"></i>
              <b>Gujaratwholesalebazar@gmail.com</b>
            </p>
          </div>
        </div>
      </div>

{% endblock %}